#gameboard {
	border-color: BLACK;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 400px;
}

h1, h2 {
	text-align: center;
}

.incorrect {
	border-color: RED !important;
}

.infobox, #startbutton, #statsboxcontainer, #timer, #win {
	margin-top: 0.4em;
}

.infobox, .statsbox {
	background-color: #DDDDDD;
	border-color: #666666;
	border-style: solid;
	border-width: 1px;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	padding: 7px;
	text-align: center;
	width: 50%;
}

#maincontent {
	text-align: center;
}

.solved {
	border-color: BLACK !important;
}

.statsbox {
	display: inline-block;
	overflow: hidden;
	width: auto;
}

.statsbox dd, .statsbox dt {
	float: left;
	margin: 0;
	margin-right: 0.4em;
}

.statsbox dd {
	font-weight: bold;
	margin-right: 1.3em;
}

.statsbox dd:last-child {
	margin: 0;
}

.statsbox dl {
	margin: 0;
}

.tile {
	border-color: WHITE;
	border-style: solid;
	border-width: 5px;
	height: 90;
	position: absolute;
	width: 90;
}

.tilehover, .tileselected {
	border-color: #CCCCCC;
}

.tilehover {
	cursor: pointer;
}

#timer {
	display: none;
	font-size: 1.2em;
	font-weight: bold;
}

#win {
	display: none;
	font-size: 1.7em;
	font-weight: bold;
}